.layer{
	display: inline-block;
}

.layer p{
	text-align: center;
}

.menu-left li {
	margin: 10px 5px;
	/*border-bottom: 1px solid  #929292;*/
	font-weight: bold;
	font-size: 16px;
	float: left;
	width: 80%;
}

.menu-left a {
	color: #333;
	text-decoration: none;
}

.menu-left a:hover {
	color: red;
}

.menu-left ul {
	width: 100%;
	list-style-type: none;
	float: left;
    padding: 0;
}

.hr_menu_left {
	margin: 10px 0px;
}
.giay{
	font-size: 14px;
	color: #333;
}
.just{
	border: 1px solid #e2e1e1;
	padding: 10px;
}
.money{
	color: #f90202;
	font-size: 17px;
	font-weight: bold;

}
.media-body{
 padding: 17px;
}
.media-body p{
	display: inline-block;
	padding-right: 12px;

}
.tongtien{
	font-weight: 700;
	color: #333;
	padding-top: 12px;
}
.thanhtoan{
	background: #e32124;
	color: #fff;
	border-radius: 0;
	margin: 19px 0;
	font-size: 20px;
	padding: 7px 71px 6px;
    border: 0px;
}
.maner{
	border: 0;
	color: #000;
	background: #ccc;
	position: relative;
	margin: 19px 18px;
	font-size: 20px;
	padding: 7px 32px 6px;
}

.form td {
	padding: 15px;
	font-size: 17px;
}