.content-admin-wapper {
	width: 100%;
	height: 100%;
}

.action-wapper {
	margin: 30px 30px 0px 30px;
}

.align-stt {
	text-align: center;	
}

.content-admin-wapper {
	width: 100%;
	height: 100%;
}

.action-wapper {
	margin: 30px 30px 0px 30px;
}

.align-stt {
	text-align: center;	
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    opacity: 0;
    background: none repeat scroll 0 0 transparent;
    cursor: inherit;
    display: block;
}

.img-supplier {
	height: 100px;
}

.table-supplier th {
	text-align: center;
}

.table-supplier a {
	color: #fff;
}

.modal-top {
	margin-top: 10%;
}

.img-edit-supplier {
	width: 200px;
}

.modal-header h2 {
	width: 50%;
	float: left;
}

.modal-header a {
	float: right;
	margin-top: 20px;
}

.modal-quention {
	text-align: center;
}

.page-header {
	margin-right: 30px;
}

.panel {
	margin-right: 30px;
}

.container-admin {
	margin-left: 30px;
}

.btn-search {
	font-size: 20px;
}

.message_alert {
	width: 50%;
}

.paginate {
	text-align: center;
}

.status-order-not-yet {
	color: #ff33ff;
}

.status-order-done {
	color: #3366ff;
}

.table > tbody > tr > td {
  vertical-align: middle;
}