.footer_category {
	background-color: #E5E5E5;
	width: 100%;
	/*height: 150px;*/
}

.img_footer {
	height: 100px;
	text-align: center;
	color: #333;
}

.img_footer img {
	width: 100%;
	height: 100%;
}

.img_footer a {
	color: #333;
	text-decoration: none;
}

.img_footer a:hover {
	color: #fff;
}

.footer_intro {
	background-color: #f2f2f2;
	width: 100%;
	/*height: 50px;*/
}

.info_intro {
	margin-top: 15px;
}

.info_intro li {
	text-align: center;
	display: inline;
	font-size: 13px;
	margin-left: 15px;
}

.info_intro a {
	color: #333;
	text-decoration: none;
}

.info_intro a:hover {
	color: #000;
}

.footer_info {
	width: 100%;
	/*height: 100px;*/
	margin-top: 20px;
}

.info_company {
	font-size: 13px;
}

.social {
	margin-left: 100px;
}

.list_socials li {
	display: inline;
	font-size: 30px;
	margin-left: 30px
}

.list_socials ul {
	margin-left: -70px;
}

.social p {
	font-weight: bold;
}