.logo {
	width: 100%;
}

.logo img {
	width: 100%;
	height: 100%;
}

.stylish-input-group .input-group-addon{
  background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
  border:0;
  background:transparent;
}

.stylish-input-group {
	margin-top: 33px;
}

.menu {
	width: 100%;
	background-color: #f7f7f7;
}

.navbar_menu a {
	color: #333;
	font-size: 14px;
}

.navbar_menu li {
	width: 150px;
	text-align: center;
}

.navbar_menu li a:hover {
	color: red;
}

.btn-rep {
	/*border: 1px solid;*/
}

.icon-bar {
	background-color: black;
}

.btn-carts ul li{
	list-style: none;
}

.btn-carts {
	margin-top: 20%;
	font-size: 20px;
	color: #953b39;
	text-align: center;
}

.badge-success {
  background-color: #3a87ad;
}

.active{
  background-color:#ccc;
}

.item-carts {
	 visibility: hidden;
    display: block;
}

.drop-carts {
	/*min-width: 250px;*/
}