.slide {
	width: 100%;
	height: 100%;
	margin-left: 10px !important;
}

.mySlides {
	width: 100%;
	display:none;
}

.w3-left, .w3-right, .w3-badge {
	cursor:pointer;
}

.w3-badge {
	height:13px;
	width:13px;
	padding:0;
}

.w3-center {
	width: 100%;
}

.max-width-slide {
	max-width: 100%;
}

.top-5-title {
	height: 150px;
	text-align: center;
}

.top-5-product-title {
	margin-top: 40px;
}

.line-top-5-title {
	height: 2px;
	background-color: #000;
	width: 20%;
	margin-left: 40%;
	margin-bottom: 20px;
}

.line-news-title {
	height: 2px;
	background-color: #000;
	width: 20%;
	margin-left: 40%;
	margin-bottom: 75px;
}

.col-half-offset{
    margin-left:4.166666667%
}

.img-top-5-products {
	height: 300px;
	background-color: #f6f6f6;
	overflow: hidden ;
	position: relative;
}

.img-top-5-products:hover .shoeDetail{
	transition-duration: 0.2s;
	position: absolute;
	bottom: 0px;
	z-index: 1;
}

.img-top-5-products img {
	margin-top: 60px;
	width: 100%;
}

.product-width .shoeDetail{
	width:100%;
	height: 130px;
	padding: 5px;
	text-align: center;
	color: white;
	background-color: black;
	opacity: 0.6;
	position: absolute;
	bottom: -200px;
	z-index: -100;
}

.price-top-5-products {
	height: 80px;
	text-align: center;
}

.code-product {
	margin-top: 20px;
}

.code-product h6 {
	color: #999 ;
	font-size: 14px;
}

.price-product h6 {
	font-weight: bold;
}

.col-half-offset{
    margin-left: 2.5%
}

@media only screen and(max-width: 480px){
	.product-width {
		width: 10px !important;
	}
}
.product-width {
	width: 206px;
	float: left;
	margin-right: 10px;
}

.product-width .row{
	width:100%;
}

.top-new-title {
	height: 125px;
	text-align: center;
}


.line-top-new-title {
	height: 2px;
	background-color: #000;
	width: 20%;
	margin-left: 40%;
}


.img-top-new-products {
	height: 300px;
	background-color: #f6f6f6;
	overflow: hidden ;
	position: relative;
}

.img-top-new-products:hover .shoeDetail{
	transition-duration: 0.2s;
	position: absolute;
	bottom: 0px;
	z-index: 1;
}

.img-top-new-products img {
	margin-top: 60px;
	width: 100%;
}

.price-top-new-products {
	height: 80px;
	text-align: center;
}

.new-stars {
	height: 100%;
	text-align: center;
	margin-bottom: 50px;
}

.new-stars-title {
	margin-top: 40px;
	margin-bottom: 30px;
}

.title-img-star {
	margin-top: 20px;
}

.title-img-star h6 {
	text-transform: uppercase;
	color: #000;
	font-style: oblique;
	font-weight: bold;	
	font-size: 14px;
}
.container{
	padding-top: 0px;
}
.menu-category {
	font-size: 17px !important;
}

.navbar_menu li {
	width: 180px;
}

.quantity {
	width: 20%;
	text-align: center;
}

.media-body {
	padding: 0;
}

.continue_buy {
	font-size: 20px;
	color: blue;
	text-decoration: underline;
}

.btn-delete-cart {
	float: right;
}

.notnull {
	color: red;
}

.margin-input {
	margin-top: 0;
}

.image-payment {
	width: 50px;
}

#order {
	margin-top: 50px;
}

.thanhtoan {
	padding-top: 10px !important;
	padding-bottom: 10px !important;

	text-decoration: none;
	color: white;
}

.text-align {
	text-align: center;
}

.image-success {
	margin-left: 30px;
	width: 80%;
}

body {
	margin: 0 !important;
}

.slide {
	margin: 0;
}