/*#content{*/
    /*margin: 20px 20px 20px 100px;*/

/*}*/

.mySlides{
    width:100%;
    height:100%;
}
/*.row{*/
    /*margin: 10px 50px;*/
/*}*/

@media only screen and (max-width: 480px) {
    .slides .btnLeft{
        position: absolute;
        top:20% !important;
    }

    .slides .btnRight{
        position: absolute;
        top:20% !important;
    }
}

.slides .btnLeft{
    position: absolute;
    top:38%;
    left:15px;
}

.slides .btnRight {
    position: absolute;
    top:38%;
    right: 15px;
}

.slides .imgList{
    width: 100px;
    display: inline-block;
    cursor: pointer;
    margin-top: 8px;
}

.detail{
    margin-top: 10px;
    line-height:2;
}

.detail .w3-btn{
    line-height: 1.5 !important;
    width: 100%;
    padding: 0px 10px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.detail .price{
    font-size: 25px;
    color: red;
}

.detail .w3-select{
    width: 20%;
}

.sidebar .menu-sidebar{
    line-height: 1 !important;
    border: 1px solid grey;
    display: block;
    padding:10px 0px 20px 15px;
}

.sidebar .note{
    color: orange;
}

.detail-label{
    margin-left: 50px;
}

#description .col-md-4{
    margin-bottom: 50px;
}

#description .col-md-4 img{
    width:100%;
}

#description .col-md-8 td{
    padding: 20px 0px 20px 10px;
}
