body{
    margin: 20px 20px 20px 20px !important;
}

#footer{
    margin-top: 100px;
}
.row{
    margin: 10px 50px;
}

form input, select{
    margin-top: 20px;
}

table td{
    width: 500px;
}

.product .img-detail{
    position: relative;
}

.product .img-detail img{
    width: 100%;
}

.product .img-detail .badge{
    position: absolute;
    top:-10px;
    right:0px;
    background-color: darkgray;
    padding: 7px 10px;
    border-radius: 50%;
}

.product .text-detail h6{
    color: grey;
}


